<div class="app-login">
  <h3 class="caption"> Agile Estimating and Planning Tool</h3>
  <div class="login-block">
    <h2> Task Poker</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active show" [ngClass]="{'active':!isAdmin}" data-toggle="tab" href="#home" (click)="onTab(false)">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':isAdmin}"  data-toggle="tab" href="#profile" (click)="onTab(true)">Admin</a>
      </li>
    </ul>
    <div class="admin" *ngIf="isAdmin">
      <form class="login" [formGroup]="adminForm" (ngSubmit)="onJoin(adminForm.value)">
        <table>
          <tr>
            <td>
              <h6>Name </h6>
            </td>
            <td>
              <input type="text" maxlength="5" placeholder="Min Two Letters" formControlName="name" />
            </td>
          </tr>
          <tr>
            <td>
              <h6>Code </h6>
            </td>
            <td>
              <input type="text" maxlength="5" placeholder="Five Digit Code" formControlName="mid" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary" [disabled]="!adminForm.valid">Join</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="member" *ngIf="!isAdmin">
      <form class="login" [formGroup]="memberForm" (ngSubmit)="onJoin(memberForm.value)">
        <table>
          <tr>
            <td>
              <h6> Name </h6>
            </td>
            <td>
              <input type="text" maxlength="5" placeholder="Min Two Letters" formControlName="name" />
            </td>
          </tr>
          <tr>
            <td>
              <h6> Code </h6>
            </td>
            <td>
              <input type="text" maxlength="5" placeholder="Five Digit Code" formControlName="mid" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid">Join</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
