.app-login {
  background-image: url(/assets/poker.jpg);
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  background-size: cover;
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link.active {
    color: #fff;
    background-color: #012a50;
  }
  .nav-link {
    color: #bfbdbd;
  }
  .caption {
    text-align: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .login-block {
    width: 290px;
    height: 300px;
    right: 30px;
    top: 30px;
    position: absolute;
    background: #10375d;
  }
  button {
    height: 40px;
    width: 100%;
  }
  .login {
    display: block;
    margin-top: 5px;
    margin-left: 15px;
  }
  h6 {
    margin: 10px;
  }
  h1,
  h3,
  h2 {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 0px 1px #10375d;
    padding: 10px;
    text-align: center
  }
  h3 {
    padding: 0px;
  }
  input {
    color: #DF691A;
    font-weight: bold;
    text-transform: uppercase;
  }
  input::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: none;
  }
  @media only screen and (max-width: 500px) {
    background-size: contain;
    .login-block {
      position: sticky;
      margin: auto;
    }
    h3 {
      font-size: 20px;
    }
  }
}
