
.app {
    
    .build{
        position: fixed;
        background: #000;
        padding:2px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 10px;
        right:0px;
        bottom:0px;
    }
    @media only screen and (max-width: 500px) {
       .build{
            display:none;
       }
    }
}
