<div class="app">
        <router-outlet></router-outlet>
        <div class="build">
                <span>{{today | date:'shortTime'}} |  Build:  1.1 | nnaresh@outlook.com </span>
        </div>
</div>

