<div class="app-dashboard">

  <div class="header alert">

    <h1 class="title"> Task Poker</h1>

    <div class="info">
      <span class="code"> Poker Code : {{routeParams.mid | uppercase}}</span>
      <span class="name"> login : {{routeParams.name | uppercase}}</span>
    </div>

    <div class="btns">
      <button type="button" *ngIf="isAdmin()" class="btn btn-success" [hidden]="showVotes" (click)="onFlipVote()">Flip Cards</button>
      <button type="button" *ngIf="isAdmin()" class="btn btn-primary" (click)="onResetVotes()">Reset Cards </button>
      <button type="button" class="btn btn-info refresh" (click)="onRefresh()">Refresh</button>
      <button type="button" *ngIf="isAdmin()" [hidden]="showVotes" class="btn btn-danger" (click)="onRemoveAll()">Remove All</button>
      <span class="logout" title="Logout"  (click)="onLogout()"> </span>
    </div>
  </div>

  <div class="canvas">
    <div class="vote-cards">
      <div *ngFor="let card of voteCards" class="card v-card" [ngStyle]="getStyle(card.value , true)">
        <span class="admin" *ngIf="card.type === 'admin'">Admin</span>
        <button type="button" class="close" data-dismiss="alert" *ngIf="isAdmin() && !showVotes" (click)="onRemove(card.uuid)">&times;</button>
        <div class="card-header">{{card.name | uppercase}}</div>
        <div class="card-body">
          <div *ngIf="card.value && !showVotes" class="voted"></div>
          <div *ngIf="showVotes && !card.value" class="question"></div>
          <div *ngIf="showVotes && card.value  > 0">{{card.value}}</div>
          <div *ngIf="showVotes && card.value  == -1" class="coffee"></div>
          <div *ngIf="showVotes && card.value  == -2">pass</div>
        </div>
      </div>
    </div>
    <app-piechart *ngIf="showVotes" [mid]='routeParams.mid' class="pie-chart"></app-piechart>
  </div>


  <div class="cards">
    <div *ngFor="let card of cards" class="card s-card" [ngStyle]="getStyle(card.value, false)" [class.selected]="card.selected"
      (click)="onCardSelect(card.value)">
      <span [ngClass]="card.class"> {{card.label}} </span>
    </div>
  </div>

</div>
